<section
	id="main-content"
	class="docker-page"
	aria-labelledby="docker-title">
	<div class="docker-page__heading">
		<p>{{ 'pages.docker.eyebrow' | translate }}</p>
		<h2 id="docker-title">
			{{ 'pages.docker.titleLead' | translate }}
			<br />
			<em>{{ 'pages.docker.titleEmphasis' | translate }}</em>
			{{ 'pages.docker.titleTail' | translate }}
		</h2>
		<p>{{ 'pages.docker.subtitle' | translate }}</p>
	</div>
	<a
		class="docker-page__terminal"
		href="https://hub.docker.com/u/cartagodocker"
		target="_blank"
		rel="noreferrer">
		<span>Docker Hub / cartagodocker</span>
		<code>
			$ docker pull cartagodocker/&lt;image&gt;
			<br />
			<b>●</b>
			public images available
			<br />
			<i>Open Docker Hub ↗</i>
		</code>
		<div>
			<em>Angular</em>
			<em>Node</em>
			<em>Delivery</em>
		</div>
	</a>
</section>
