<section
	id="main-content"
	class="demos-page"
	aria-labelledby="demos-title">
	<div class="demos-page__heading">
		<p>{{ 'pages.demos.eyebrow' | translate }}</p>
		<h2 id="demos-title">
			{{ 'pages.demos.titleLead' | translate }}
			<br />
			<em>{{ 'pages.demos.titleEmphasis' | translate }}</em>
			{{ 'pages.demos.titleTail' | translate }}
		</h2>
		<p>{{ 'pages.demos.subtitle' | translate }}</p>
	</div>
	<div class="demos-page__links">
		@for (demo of demos; track demo.title) {
			<a
				[href]="demo.url"
				target="_blank"
				rel="noreferrer">
				<span>{{ demo.number }}</span>
				<b>{{ demo.title }}</b>
				<p>{{ demo.summary }}</p>
				<i>{{ 'pages.demos.openDemo' | translate }}</i>
			</a>
		}
	</div>
	<section class="demos-page__game">
		<div>
			<p>{{ 'pages.demos.gameEyebrow' | translate }}</p>
			<h3>{{ 'pages.demos.gameHeading' | translate }}</h3>
			<p>{{ 'pages.demos.gameDetail' | translate }}</p>
			<b>
				{{ score() }}
				<small>
					{{ 'pages.demos.gameSignalsLabel' | translate }}
				</small>
			</b>
		</div>
		<div class="demos-page__grid">
			@for (cell of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track cell) {
				<button
					type="button"
					[class.is-target]="target() === cell"
					(click)="hit(cell)">
					<i></i>
				</button>
			}
		</div>
	</section>
</section>
